--
-- PostgreSQL database dump
--

\restrict BdLnQhq0dLfvXA2m74fjGoUIO7MaJpjZtkaTACturz61Llin20dI8q5eI8fJ2lw

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bronze_tech_layoffs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.bronze_tech_layoffs (
    "Nr" bigint,
    "Company" text,
    "Location_HQ" text,
    "Region" text,
    "USState" text,
    "Country" text,
    "Continent" text,
    "Laid_Off" numeric,
    "Date_layoffs" date,
    "Percentage" numeric,
    "Company_Size_before_Layoffs" double precision,
    "Company_Size_after_layoffs" double precision,
    "Industry" text,
    "Stage" text,
    "Money_Raised_in__mil" numeric,
    "Year" integer,
    latitude double precision,
    longitude double precision
);


ALTER TABLE public.bronze_tech_layoffs OWNER TO admin;

--
-- Data for Name: bronze_tech_layoffs; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- PostgreSQL database dump complete
--

\unrestrict BdLnQhq0dLfvXA2m74fjGoUIO7MaJpjZtkaTACturz61Llin20dI8q5eI8fJ2lw

